{%
    include titular.html 
    title="Mi Conocimiento Laboral"
    subtitle="Conocimiento" 
%}

<div class="mb-30">
{%
    include blockWithImg.html
    alt="Drupal"
    title="Drupal 7, 8 y 9"
    text=" 
    Desde 2015 mi principal herramienta de trabajo ha sido Drupal. <br/>
    Empecé a trabajar en la versión 7 hasta la actual versión 9. He desarrollado tanto en equipo como en solitario proyectos webs desde 0.<br/>
    "
    link="/drupal/"
%}
</div>
<div class="mb-30">

{%
    include blockWithImg.html
    alt="Drupal"
    title="PHP y SQL"
    text=" 
    Cuando se trabaja en Drupal es necesario conocer estos lenguajes, Drupal es un CMS ejecutado en PHP y la interacción con la base de datos se hace mediante SQL"
    %}</div>

    <div class="mb-30">

{%
    include blockWithImg.html
    alt="Drupal"
    title="HTML CSS JS"
    text=" 
    Cuando se trabaja en Drupal es necesario conocer estos lenguajes, Drupal es un CMS ejecutado en PHP y la interacción con la base de datos se hace mediante SQL"
    %}</div>
    <div class="mb-30">

        {%
            include blockWithImg.html
            alt="Drupal"
            title="Next JS"
            text=" 
            Cuando se trabaja en Drupal es necesario conocer estos lenguajes, Drupal es un CMS ejecutado en PHP y la interacción con la base de datos se hace mediante SQL"
            %}</div>