
{% assign entryArray = "" | split: ',' %}
{% assign entryArray = entryArray | push: "" %}

{%
    include titular.html 
    title="Mi Experiencia laboral"
    subtitle="Experiencia profesional"
%}
{% include blocktextdata.html 
    ocupacion="Desarrollador Web Drupal y Next JS" 
    fechas="2015 - Actualidad" 
    empresa="Drauta / Seidor Consulting"
    functiones="<ul>
        <li>Desarrollar proyectos web en Drupal frontend y backend.</li>
        <li>Creación de módulos Drupal. </li>
        <li>Desarrollo de frontales con Next JS.</li>
    </ul>
    "
%}

{% include blocktextdata.html 
    ocupacion="Desarrollador Web Wordpress" 
    fechas="2014 - 2015" 
    empresa="Pardebits"
    functiones="<ul>
        <li>Desarrollar pequeños proyectos web en Wordpress.</li>
        <li>Realizar despliegues de proyectos de desarrollo a producción.</li>
    </ul>
    "
%}

{% include blocktextdata.html 
    ocupacion="Delineante" 
    fechas="2011" 
    empresa="Ajuntament de Mataró"
    functiones="<ul>
        <li> Delineante de Planes de Auto Protección para el Ayuntamiento de Mataró. </li></ul>
    "
%}

{% include blocktextdata.html 
    ocupacion="Reposición y cajas" 
    fechas="2009 - 2011" 
    empresa="Varios trabajos de verano"
    functiones="<ul>
        <li>Reposición y cajas.</li> </ul>
    "
%}

{% include blocktextdata.html 
    ocupacion="Delineante de ICT" 
    fechas="2006 - 2008" 
    empresa="Serfin RVSL"
    functiones="<ul>
        <li>Grafiar sobre plano la instalación de telecomunicaciones en viviendas de nueva construcción y reformas.</li>
    </ul>"
%}

