{% assign entryArray = "" | split: ',' %}
{% assign entryArray = entryArray | push: "Soy un Desarrollador Web especializado en Drupal 8, 9 y Next JS que en 2013 decidió reciclarse, abandonar el mundo de la construcción para dar un giro laboral." %}
{% assign entryArray = entryArray | push: "Empecé en el mundo del Desarrollo Web realizando pequeñas webs en Wordpress. Hasta el día de hoy dónde trabajo principalmente con Next JS y Drupal." %}

{% include blockWithImgLead.html
    title="Sobre mí"
    img="/assets/img/about/santi-lopez.jpg"
    alt="Drupal"   
    textarray=entryArray
%}